@charset "UTF-8";
/** Variabbles para el footer*/
body {
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#footer {
  background-color: #c9082c;
}

#titulo{
  background-color: #17408b;
  display: flex;
  justify-content: center; 

}

.titulo-finalistas {
  display: flex;
  justify-content: center;
}

#body-i {
  background-color: #17408b;
}

.h1-A {
  display: flex;
  justify-content: center;
  background-color: #17408b;
}

main {
  background-color: #17408b;
}

.h1-f {
  background-color: #17408b;
  display: flex;
  justify-content: center;
}

header {
  background-color: #17408b;
}

.div-form {
  display: flexbox;
  justify-content: center;
}

.colorfondo {
  background-color: black;
  height: 100vh;
}

p {
  color: black;
}

.header {
  background-color: #17408b;
}

#navbar-h {
  background-color: rgba(207, 2, 2, 0.87);
}

#mavbar-a {
  background-color: rgba(207, 2, 2, 0.87);
}

#navegacion-a {
  background-color: rgba(207, 2, 2, 0.87);
}

#navbar-finalistas {
  background-color: rgba(207, 2, 2, 0.87);
}

#navbar {
  background-color: rgba(207, 2, 2, 0.87);
}

#navbar-f {
  background-color: rgba(207, 2, 2, 0.87);
}

#main-i {
  background-color: #17408b;
  display: flex;
  min-height: 100vh;
}
#main-i #cuadro-I {
  flex: 1;
  display: flex;
}
#main-i #cuadro-I .cuadro-jokic {
  color: black;
  margin-right: 4%;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-top: 6px;
  border: solid black;
}
#main-i #cuadro-I .cuadro-james {
  color: black;
  margin-right: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-top: 6px;
  border: solid black;
}

.cuadro-A {
  border: solid black;
  display: flex;
  background-color: #17408b;
}
.cuadro-A .cuadro-G {
  border: solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.cuadro-A .cuadro-G .card-g {
  display: flex;
  justify-content: center;
  color: gold;
  border-top: solid black;
  border-bottom: solid black;
}
.cuadro-A .cuadro-O {
  border: solid black;
  color: black;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cuadro-A .cuadro-O .card-O {
  display: flex;
  color: gold;
  justify-content: center;
  border-top: solid black;
  border-bottom: solid black;
}
.cuadro-A .cuadro-C {
  border: solid black;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
.cuadro-A .cuadro-C .card-c {
  display: flex;
  justify-content: center;
  color: gold;
  border-top: solid black;
  border-bottom: solid black;
}

#cuadro-I {
  display: flex;
}

.titulo {
  display: flex;
  justify-content: center;
}

body {
  background-color: #17408b;
  min-height: 100vh;
}

.divisor-video {
  display: flex;
  justify-content: center;
  border: white;
}
.divisor-video .parrafo-finalistas {
  display: flex;
  justify-content: center;
}

.h1-h {
  display: flex;
  justify-content: center;
  background-color: #17408b;
}

.main-h {
  background-color: #17408b;
}

form {
  background-color: rgba(207, 2, 2, 0.87);
  margin: 0 auto;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
}

.colorfondo {
  background-color: #17408b;
}

.div-p {
  display: flex;
  justify-content: center;
  min-height: 25.6vh;
}

@media screen and (max-width: 767px) {
  #cuadro-I {
    flex-direction: column; /* Los cuadros se apilarán verticalmente */
  }
  #cuadro-I .cuadro-jokic,
  #cuadro-I .cuadro-james {
    width: 98%; /* Utilizo el imporant porque si no quedan en columna pero ocupando un 48%*/
  }
}
@media screen and (max-width: 767px) {
  .cuadro-A {
    flex-direction: column;
  }
}
@media screen and (max-widgt: 767) {
  .divisior-video {
    width: 80%;
  }
}
.colorfondo-s {
  min-height: 100vh;
}

.footer-h {
  background-color: #c9082c;
}

.footer-A {
  background-color: #c9082c;
}

#footer {
  background-color: #c9082c;
}

.footer-f {
  background-color: aliceblue;
  padding: 1em 0;
  text-align: center;
  margin-top: auto;
  min-height: 27.5vh;
}

footer {
  background-color: #FFFFFF;
  background-image: linear-gradient(to botoom, red, yellow);
  padding: 10px;
  text-align: center;
}

footer {
  background: linear-gradient(to top, #ffffff, #17408b);
  padding: 10px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  display: inline-block;
  margin: 0 10px;
}
.social-icons a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s;
}
.social-icons a img:hover {
  transform: scale(1.2);
}

.footerfixed-1 {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px; /* Altura del footer */
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/*# sourceMappingURL=estilo.css.map */
