body {
    font-family: 'Poppins', sans-serif;
}

/*

#h1-i {
    color: rgba(0, 0, 150, 0.918);
}

#seccion1-i {
    color: rgba(0, 0, 150, 0.918);
    display: inline-block;
    margin-left:0px;
}

#seccion2-i {
 color: rgb(190, 1, 1);
}

#h1-s {    
    color: rgba(0, 0, 150, 0.918);
}
#seccion1-s {
    color: rgb(190, 1, 1);
}


#h1-a {
    color: rgba(0, 0, 150, 0.918);
}

#seccion1-a {
    color: rgb(190, 1, 1)
}

#seccion2-a { 
    color: rgba(0, 0, 150, 0.918);
}

#seccion3-a {
    color: rgb(190, 1, 1);
}

#h1-id {
    color: rgb(190, 1, 1);
}

#seccion1-id {
    color: rgba(0, 0, 150, 0.918);
}

#seccion2-id {
    color: rgb(190, 1, 1);
}

#seccion3-id {
    color: rgba(0, 0, 150, 0.918);
}

#h1-f {
    color: rgb(190, 1, 1);
}

#seccion1-f {
    color: rgba(0, 0, 150, 0.918);
}

#seccion2-f {
    color: rgb(190, 1, 1);
}

nav li{
    
    display: inline;/*hace que los items esten uno al lado del otro
    
    margin-left:130px;

    text-decoration: none; */
    
    /* al poner position : fixed para que la barra de navegacion te acompañe durante todo el sitio, se me apilan todos los li y no quedan funcional.
}

#mapa {
    margin-left: 280px;
}

#logo {
    display: inline;
}

form {
    margin-left: 690px;
}

#anillo {
    margin-left: 130px;
}


.flex-container{
    display: flex;
    background-color: red;
    padding: 10px;
    border: 2px black;


}

.flex-container div{
    background-color: aliceblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px black;
}

/* .header {
    background-color: rgb(187, 5, 5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 85px;
    padding: 5px ;

}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links a{
    font-size: 700;
    color: aliceblue;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: #17408B;
}


body {
    background-color: beige;
}
.container-all{
    width: 1000%;
    max-width: 100%;
    padding: 10;
    background-color: #17408B;
    margin-top: 35px;
    margin-bottom: 10px;
}
.container-all img{
    width: 240px;
    height: 240px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
.title{

    font-size: 40px;
    margin-bottom: 15px;
}
.container-all p{
    font-size: 27px;
    font-weight: 300;
}
*/

*{

    padding: 0;
    
    margin: 0;
    
    box-sizing: border-box;
    
    }

body{
    height: 100vh;
    width: 100%;
    position: relative;
}
/*
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    height: 80px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(resource/FacebookBlanco.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}
/* El footer no esta terminado claramente, no se me ocurre que poner */
/* id = # - class = . */

body{
    background-color: #C9082A;
}

.cuadro{
    display: flex; 
    background-color: #17408B;
}

.card{
    width: 48%; 
    color: black;
    margin-right: 4%; 
    margin-bottom: 6px; 
    margin-left: 6px; 
    margin-top: 6px; 
    border: solid black;
}
.card1 {
    width: 48%;
    color: black;
    margin-right: 6px; 
    margin-bottom: 6px; 
    margin-top: 6px;
    border: solid black; 
}

.card-body{
    background-color:#17408B 
}
.card-body1{
    background-color:#17408B 
}
