.header {
    background-color: $Background-CornflowerBlue;
} 
#navbar-h{
    background-color: rgba(207, 2, 2, 0.87);
}

#mavbar-a {
    background-color: rgba(207, 2, 2, 0.87);
}


#navegacion-a {
    background-color: rgba(207, 2, 2, 0.87);
}

#navbar-finalistas {
    background-color: rgba(207, 2, 2, 0.87);
}

#navbar {
    background-color: rgba(207, 2, 2, 0.87);
}
#navbar-f{
    background-color: rgba(207, 2, 2, 0.87);
}

