.header {
    background-color: $Background-CornflowerBlue;
} 
#navbar-h{
    background-color: $Background-PhilippineRed;
}

#mavbar-a {
    background-color: $Background-PhilippineRed;
}


#navegacion-a {
    background-color: $Background-PhilippineRed;
}

#navbar-finalistas {
    background-color: $Background-PhilippineRed;
}

#navbar {
    background-color: $Background-PhilippineRed;
}


