#footer {
    background-color: $Background-PhilippineRed;
}
.titulo {
    background-color: $Background-CornflowerBlue;
    display: flex;
    justify-content: center;

}
.titulo-finalistas {
    display: flex;
    justify-content: center;
}

#body-i {
    background-color: $Background-CornflowerBlue;
}
.h1-A {
    display: flex;
    justify-content: center;
    background-color: $Background-CornflowerBlue;
}
main{
    background-color: $Background-CornflowerBlue;
}
.h1-f{
    background-color: $Background-CornflowerBlue;
    display: flex;
    justify-content: center;
}
header{
    background-color: $Background-CornflowerBlue;
}

.div-form {
    display: flexbox;
    justify-content: center;
}



#navbar-f{
    background-color: $Background-PhilippineRed;
}
.colorfondo{
    background-color: black;
}
