$font-general:'Poppins', sans-serif; 
$Background-PhilippineRed: #c9082c;  
$Background-CornflowerBlue: #17408b;

/** Variabbles para el footer*/
$footer-background-color:(#FFFFFF);
$footer-padding: 10px;
$icon-width: 40px;
$icon-height: 40px;
$icon-border-radius: 50%;
$icon-transition-duration: 0.3s;
$icon-scale-on-hover: 1.2;


$gradient-color-start: #ffffff; // Blanco
$gradient-color-end: #17408b; // Gris claro
